<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test DB Connection</h1>
    <form action="/braindump/newBrainDump" method="POST">
        
        <p>Add a test document, then check MongoDB</p>
        
        <textarea name="text" id="text">This should be the text in MongoDB</textarea>
        
        <button type="submit">Let's try</button>
    </form>
</body>
</html>